{% extends "twitter/base.html" %}
{% block content %}

{% load bulma_tags %}
{% load hashtags %}

<div class="columns">
    <div class="column">
    </div>
    <div class="column">
        <!-- TWEET BOX-->
        {% if user.is_authenticated %}
            <form method="POST">
                {% csrf_token %}
                {{ form.message }}
                <button class="button is-info m-4" type="submit"><strong>Tweet</strong></button>
            </form>
        {% endif %}

        <!-- TWEET STREAM -->
        {% include "twitter/tweet_list.html" %}
        
    </div>
    <div class="column">
    </div>
</div>
    
{% endblock content %}