{% extends "twitter/base.html" %}
{% block content %}

{% load bulma_tags %}
{% load hashtags %}

<div class="columns">
    <div class="column">
    </div>
    <div class="column">        
        <span class="is-size-3 has-text-weight-bold">{{ author.profile.display_name }}</span> @{{ author.username }}<br>

        <!-- FOLLOWS AND FOLLOWERS -->
        Follows: {{ author_follows_count }}
        Followers: {{ author_followers_count }}

        <!-- FOLLOW BUTTON -->
        {% if user.is_authenticated and user != author %}
            {% if author not in user.profile.follows.all %}
                <a href="{% url 'follow-user' author.username %}"><button class="button is-info is-small">Follow</button></a>
            {% else %}
                <a href="{% url 'unfollow-user' author.username %}"><button class="button is-info is-small">Unfollow</button></a>
            {% endif %}
        {% endif %}
        
        {% if user.is_authenticated and user == author %}
            <a href="{% url 'private-profile' %}"><button class="button is-info is-small">Edit Profile</button></a>
        {% endif %}
        
        <!-- TWEET STREAM -->
        {% include "twitter/tweet_list.html" %}
        
    </div>
    <div class="column">
    </div>
</div>
    
{% endblock content %}