{% block content %}

{% load bulma_tags %}
{% load hashtags %}
    <!-- TWEET STREAM -->
    {% for tweet in tweets %}
        <article class="media">
            <figure class="media-left">
            <p class="image is-64x64">
                <a href="{% url 'public-profile' tweet.author.username %}"><img class="is-64x64 is-rounded" src="{{ tweet.author.profile.image.url }}"></a>
            </p>
            </figure>
            <div class="media-content">
            <div class="content">
                <p>
                    <a href="{% url 'public-profile' tweet.author.username %}">
                    <strong>{{ tweet.author.profile.display_name }}</strong></a>
                    <small class="has-text-grey">@{{ tweet.author.username }}</small> <small class="has-text-grey">{{ tweet.date_created }}</small>
                <br>
                    {{ tweet.message | hashtags | safe }}
                </p>
            </div>
            <nav class="level is-mobile">
                <div class="level-left">
                <a class="level-item">
                    <span class="icon is-small"><i class="fas fa-reply"></i></span>
                </a>
                <a class="level-item">
                    <span class="icon is-small"><i class="fas fa-retweet"></i></span>
                </a>
                <a class="level-item">
                    <span class="icon is-small"><i class="fas fa-heart"></i></span>
                </a>
                </div>
            </nav>
            </div>
            <div class="media-right">
            {% if tweet.author.id == user.id %}
                <a href="{% url 'tweet-delete' tweet.id %}"><button class="delete"></button></a>
            {% endif %}
            </div>
        </article>
    {% endfor %}
{% endblock content %}